@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: none;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #752AC8;
}


* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    user-select: none;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;

}


html,
body {
    height: 100%;
    background-color: #1e1e1e;
}
