header {
    background-image: url('img/wave_3.svg'), url('img/wave_2.svg'), url('img/wave_1.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    background-color: #1e1e1e;
}

header .navigation_top {
    display: flex;
    padding-top: 5px;
    align-items: center;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    transition-duration: 500ms;
}

header .navigation_top p {
    font-family: Poppins, serif;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    transition-duration: 500ms;
}

header .navigation_top p:hover {
    color: #1a1a1a;
    transition-duration: 250ms;
}

header .navigation_top img {
    width: 60px;
    height: 60px;
    transition-duration: 500ms;
}

html, main {
    background-color: #1e1e1e;
}

#players .content{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: auto;
}

#players h2 {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

iframe, .emeraldsbyteam{
    margin: 15px auto;
    align-content: center;
    border: none;
}

.hide {
    display: none!important;
}

#about, #end h2 {
    margin: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #FFFFFF;
}


#about, #end {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about, #end p.entrance {
    width: 75%;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    text-align: justify;
    color: #FFFFFF;
    margin: auto auto 50px;
}

#playTime p {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #FFFFFF;
}
#playTime iframe {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: 25px auto 25px 50px;
}

#playTime .charts_timeplayedByTeam, .charts_timeplayedByPlayer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-content: center;
    justify-content: center;
}

.embedded-doc {
    background-color: #1e1e1e;
    color: #752AC8;
}
.timePlayed {
    width: 100%;
    border-collapse: collapse;
}
.timePlayed thead {
    background: rgba(75,158,254,.6);
    color: white;
    border: solid white;
    border-width: 1px 0 1px 0;

}
.timePlayed tbody {
    background-color:black;
    text-align:center;
    color:white;
}
.timePlayed img {
    width:32px;
}

main .finalstats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main .block {
    margin: 30px;
    width: 430px;
    height: 300px;
    background-color: #4C4C4C;
    border-radius: 25px;
    justify-content: center;
    padding: 5px;
}
main .block h3 {
    margin: 30px;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: #FCC22B;
    text-align: center;
    height: 50%;
}
main .block h4 {
    margin: 30px;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #FCC22B;
    text-align: center;
    height: 50%;
}

main .block p {
    margin-top: 15px;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    color: #ffffff;
    line-height: 30px;
}
img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}